<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库索引研究</title>
    <script src="/js/index.js"></script>
    <style>
        h2{
            margin-top: 300px;
        }
        #research1, #research2, #research3{
            font-size: 24px;
        }
    </style>
</head>
<body>
<h2 align="center">数据库索引算法研究</h2>
<p align="center"><a id="research1" href="javascript:void(0)" onclick="onResearch1Click(this)">不同索引种类的性能与数据量的关系</a></p>
<p align="center"><a id="research2" href="javascript:void(0)" onclick="onResearch2Click(this)">不同索引种类的性能与索引字段的关系</a></p>
<p align="center"><a id="research3" href="javascript:void(0)" onclick="onResearch3Click(this)">不同索引种类的查询范围</a></p>
</body>
</html>