<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不同索引种类的性能与索引字段的关系</title>
    <link rel="stylesheet" type="text/css" href="/css/research2.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
</head>
<body>
<div id="headDiv" align="center">
    不同索引种类的性能与索引字段的关系
</div>

<div id="divLeftTop">
</div>
<div id="divRightTop">
    <button type="button" id="insert" class="layui-btn">+100</button>
</div>

<script src="/layui/layui.js"></script>
<script src="/echarts/echarts.js"></script>
<script src="/js/research2.js"></script>
</body>
</html>